{% extends 'base.html' %}

{% block title %}Track Time{% endblock %}

{% block head %}
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
{% block content %}
<div class="container mx-auto p-4">
    <div class="text-right mb-4">
        <h2 class="text-sm font-bold text-blue-600">Welcome, {{ user_id }}!</h2>
    </div>
    {% if message %}
    <div id="message-box" class="mb-4 p-4 text-center rounded-full border-2 {{ 'border-green-500 text-green-500' if 'successful' in message.lower() else 'border-red-500 text-red-500' }}">
        {{ message }}
    </div>
    {% endif %}
    <h2 class="text-xl font-bold text-gray-800 mb-4">Time Entries</h2>
    <div class="flex gap-4">
        <form action="{{ url_for('add_time_entry') }}" method="post">
            <input type="hidden" name="time_in" value="true">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Time In
            </button>
        </form>
        <form action="{{ url_for('add_time_entry') }}" method="post">
            <input type="hidden" name="time_out" value="true">
            <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                Time Out
            </button>
        </form>
    </div>
    {% if time_entries %}
    <div class="overflow-x-auto mb-4">
        <table class="min-w-full bg-white">
            <thead class="bg-gray-800 text-white">
                <tr>
                    <th class="w-1/4 py-3 px-4 uppercase font-semibold text-sm text-center">Date</th>
                    <th class="w-1/4 py-3 px-4 uppercase font-semibold text-sm text-center">Time-In</th>
                    <th class="w-1/4 py-3 px-4 uppercase font-semibold text-sm text-center">Time-Out</th>
                    <th class="w-1/4 py-3 px-4 uppercase font-semibold text-sm text-center">Total Hours (hh:mm)</th>
                    <th class="w-1/4 py-3 px-4 uppercase font-semibold text-sm text-center">OT_UT</th>
                </tr>
            </thead>
            <tbody class="text-gray-700">
            {% for entry in time_entries %}
            <tr class="{{ 'even-row' if loop.index0 is even }}">
                <td class="w-1/4 py-3 px-4 text-center">{{ entry[0] }}</td>
                <td class="w-1/4 py-3 px-4 text-center {{ 'text-red-500' if entry[4] == 'LATE' else '' }}">{{ entry[1] }}</td>
                <td class="w-1/4 py-3 px-4 text-center {{ 'text-red-500' if entry[5] == 'UT' else 'OT' }}">{{ entry[2] }}</td>
                <td class="w-1/4 py-3 px-4 text-center">{{ entry[3] or 'N/A' }}</td>
                <td class="w-1/4 py-3 px-4 text-center">{{ entry[4] or 'N/A' }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>    
    <div class="flex justify-center">  <!-- Center the pagination controls -->
        <div class="inline-flex border border-gray-300 rounded">  <!-- Add border and rounded corners -->
            {% for p in range(1, total_pages + 1) %}
                <a href="{{ url_for('add_time_entry', page=p) }}" class="px-3 py-1 border-r border-gray-300 {{ 'bg-blue-500 text-white' if p == current_page else 'text-blue-500 hover:bg-blue-100' }}">
                    {{ p }}
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="text-right my-4">
        <form action="{{ url_for('download_csv') }}" method="get" class="flex justify-end items-center gap-2">
            <div class="input-with-label" data-label="From:">
                <input type="date" name="start_date" required class="bg-white border rounded-md py-2 pl-12 pr-3 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
            </div>
            <div class="input-with-label" data-label="To:">
                <input type="date" name="end_date" required class="bg-white border rounded-md py-2 pl-12 pr-3 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
            </div>
            <button type="submit" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-md" 
                {% if pos != 'Superuser' %}disabled{% endif %}>
                Download CSV
            </button>
        </form>
    </div>
    {% endif %}
    {% if not time_entries %}
        <p class="text-gray-800">No time entries available.</p>
    {% endif %}
</div>
{% endblock %}
