{% extends 'base.html' %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="container mx-auto p-4">
    <div class="max-w-md mx-auto bg-white rounded-lg overflow-hidden md:max-w-md">
        <div class="md:flex">
            <div class="w-full p-3 px-6 py-10">
                <div class="text-center"><span class="text-xl text-gray-700">Reset Password</span></div>
                <div class="mt-4">
                    <form action="{{ url_for('reset_password') }}" method="POST">
                        <div>
                            <label class="block" for="current_password">Current Password</label>
                            <input type="password" name="current_password" id="current_password" placeholder="Current Password" class="h-12 px-3 w-full border-2 border-gray-300 mt-2 rounded" required>
                        </div>
                        <div class="mt-4">
                            <label class="block">New Password</label>
                            <input type="password" name="new_password" id="new_password" placeholder="New Password" class="h-12 px-3 w-full border-2 border-gray-300 mt-2 rounded" required>
                        </div>
                        <div class="mt-4">
                            <label class="block">Confirm New Password</label>
                            <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm New Password" class="h-12 px-3 w-full border-2 border-gray-300 mt-2 rounded" required>
                        </div>
                        {% if error %}
                            <p class="mt-4 text-red-500">{{ error }}</p>
                        {% endif %}
                        {% if message %}
                            <p class="mt-4 text-green-500">{{ message }}</p>
                        {% endif %}
                        <div class="mt-6">
                            <button class="h-12 w-full bg-blue-500 text-white rounded hover:bg-blue-700">Reset Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
function togglePasswordVisibility() {
    var password = document.getElementById("new_password");
    var confirmPassword = document.getElementById("confirm_password");
    if (password.type === "password") {
        password.type = "text";
        confirmPassword.type = "text";
    } else {
        password.type = "password";
        confirmPassword.type = "password";
    }
}
</script>
{% endblock %}
